<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/96aea49251.js"
      crossorigin="anonymous"
    ></script>

    <title>Reddit Flair Detector</title>
  </head>
  <body>
    <div class="navbar">
      <div class="icon">
        <i class="fab fa-reddit"></i>
      </div>
      <div class="title">Reddit Flair Detector</div>
    </div>

    <div class="main-body">
      <div>
        <div class="form-container">
          <form action="" class="Search">
            <input
              class="Search-box"
              type="search"
              placeholder="Enter Text..."
            />
            <span class="fa fa-search"></span>
          </form>
        </div>

        <div class="results">
          <p><i class="fas fa-fire-alt"></i> Flair</p>
          <h1>Coronavirus</h1>
        </div>
      </div>
    </div>
  </body>
</html>
